header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    min-height: 10vh;
}
button{
    border: none;
    background: $colorPrincipal;
}
/*<===================Cambio dei imagen================>
.img{
    background-image: url("../img/assets/logo-mobile.svg");
    transition: .3s ease all;
    body.dark & {
        background-image: url("../img/assets/logo-mobile-modo-noct.svg");
        z-index: 1000;
    }
}
<======================================================>
*/
.linksMenu{
    position: absolute;
    left: 0px;
    top: 10vh;
    width: 100%;
    background-color: $colorPrincipal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    overflow: hidden;
    body.dark &{
        a{
            color: #FFF;
        }
    }

    a{
        text-decoration: none;
        color: white;
        margin-left: 15px;
        font-family: $fuenteTitulos;
        font-size: 14px;
    }
}

.menuHamburguesaActivo{
        height: 100vh;
    }

/* Menu para desktop */

@media screen and (min-width: 520px){

header{
    min-height: 15vh;
}
button{
    border: none;
    background: #fff;
    transition: .3S ease ALL;
    body.dark &{
        background-color: $colorDark1;
    }
}

.contenedorLogo{
    padding-left: 70px;
}

.fotoMenuHamburguesa{
    display: none;
}

.linksMenu{
    position: relative;
    top: 0;
    background: unset;
    height: unset;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 50px;

    li{
        padding-right: 40px;
    }

    a{
        text-decoration: none;
        font-family: $fuenteTitulos;
        color: $colorPrincipal;
        font-weight: bold;
    }
}

}