header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 0px 20px;
  min-height: 10vh;
}

button {
  border: none;
  background: #572EE5;
}

/*<===================Cambio dei imagen================>
.img{
    background-image: url("../img/assets/logo-mobile.svg");
    transition: .3s ease all;
    body.dark & {
        background-image: url("../img/assets/logo-mobile-modo-noct.svg");
        z-index: 1000;
    }
}
<======================================================>
*/
.linksMenu {
  position: absolute;
  left: 0px;
  top: 10vh;
  width: 100%;
  background-color: #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0px;
  overflow: hidden;
}

body.dark .linksMenu a {
  color: #FFF;
}

.linksMenu a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-family: "Montserrat-Bold";
  font-size: 14px;
}

.menuHamburguesaActivo {
  height: 100vh;
}

/* Menu para desktop */
@media screen and (min-width: 520px) {
  header {
    min-height: 15vh;
  }
  button {
    border: none;
    background: #fff;
    -webkit-transition: .3S ease ALL;
    transition: .3S ease ALL;
  }
  body.dark button {
    background-color: #37383C;
  }
  .contenedorLogo {
    padding-left: 70px;
  }
  .fotoMenuHamburguesa {
    display: none;
  }
  .linksMenu {
    position: relative;
    top: 0;
    background: unset;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-right: 50px;
  }
  .linksMenu li {
    padding-right: 40px;
  }
  .linksMenu a {
    text-decoration: none;
    font-family: "Montserrat-Bold";
    color: #572EE5;
    font-weight: bold;
  }
}

.sectionInicial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo-principal h1 {
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat-Bold";
  color: #572EE5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .titulo-principal h1 {
  color: #FFF;
}

.titulo-principal h1 .GIFOS {
  color: #5ED7C6;
}

.contenedorIlustracionHeader {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorIlustracionHeader img {
  max-width: 250px;
}

.contenedorBuscador {
  border: solid 2px;
  border-radius: 60px;
  width: 300px;
  height: 40px;
  border-color: #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .contenedorBuscador {
  border-color: #222326;
}

.buscador {
  height: 30px;
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  border: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .buscador {
  background-color: #37383C;
}

.trending {
  padding-top: 30px;
  padding-bottom: 30px;
}

.trending h2 {
  text-align: center;
  color: #572EE5;
  font-weight: bold;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .trending h2 {
  color: #FFF;
}

.trending p {
  padding-top: 5px;
  color: #572EE5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .trending p {
  color: #FFF;
}

/* Mediaquery para desktop */
@media screen and (min-width: 520px) {
  .sectionInicial {
    padding-top: 30px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  height: 150px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark footer {
  color: #FFF;
}

.contenedorRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redesSociales ul {
  padding-top: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.redesSociales ul li {
  padding: 0px 10px 20px 10px;
}

@media screen and (min-width: 600px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
  }
  footer .contenedorRedes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .redesSociales {
    padding-top: 0px;
  }
  footer .redesSociales li {
    padding: 0px 10px 0px 10px;
  }
}

.sectionTrending {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f5f8;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .sectionTrending {
  background-color: #222326;
}

.sectionTrending h2 {
  color: #572EE5;
  font-weight: bold;
  padding-bottom: 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .sectionTrending h2 {
  color: #FFF;
}

.sectionTrending legend {
  padding-bottom: 20px;
  text-align: center;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark .sectionTrending legend {
  color: #FFF;
}

.sectionTrending ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 30px;
}

.sectionTrending ul li {
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  outline: none;
}

body {
  background-color: #FFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark {
  background-color: #37383C;
}
/*# sourceMappingURL=style.css.map */