header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 0px 20px;
  min-height: 15vh;
}

.sectionInicial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo-principal h1 {
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat-Bold";
  color: #572EE5;
}

.titulo-principal h1 .GIFOS {
  color: #5ED7C6;
}

.contenedorIlustracionHeader {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorIlustracionHeader img {
  max-width: 250px;
}

.contenedorBuscador {
  border: solid 2px;
  border-radius: 60px;
  width: 300px;
  height: 40px;
  border-color: #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buscador {
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  border: none;
}

.trending {
  padding-top: 30px;
  padding-bottom: 30px;
}

.trending h2 {
  text-align: center;
  color: #572EE5;
  font-weight: bold;
}

.trending p {
  padding-top: 5px;
  color: #572EE5;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  height: 150px;
}

.redesSociales ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.redesSociales ul li {
  padding: 0px 10px 20px 10px;
}

.sectionTrending {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F5F8;
}

.sectionTrending h2 {
  color: #572EE5;
  font-weight: bold;
  padding-bottom: 20px;
}

.sectionTrending legend {
  padding-bottom: 20px;
  text-align: center;
}

.sectionTrending ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 30px;
}

.sectionTrending ul li {
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */